<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置文件：1.连接数据库信息；2.类型起别名；3.加载映射文件 -->
<configuration>

	<typeAliases>
		<typeAlias type="com.yh.cn.entity.News" alias="News"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/news" />
				<property name="username" value="root" />
				<property name="password" value="meng" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/yh/cn/dao/NewsDaoMapper.xml"/>
	</mappers>
	
</configuration>